* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-main, #0B1121);
    color: white;
    min-height: 100vh;
}

a{
    text-decoration: none;
}