Django>=5.2,<5.3
python-dotenv==1.2.2
psycopg2-binary==2.9.12
djangorestframework==3.17.1
django-cors-headers==4.9.0
djangorestframework-simplejwt==5.5.1
celery==5.6.3
celery[redis]
django-redis==7.0.0
faker
google-auth==2.56.2